<h1 mat-dialog-title>{{ data.id ? 'Sửa' : 'Thêm' }} hoạt động giảng viên</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="dialog-form-container">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Giảng viên</mat-label>
            <mat-select formControlName="lecturerId">
              <mat-option *ngFor="let lecturer of data.lecturers" [value]="lecturer.id">
                {{ lecturer.lecturerName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
    <div class="dialog-form-container">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Hoạt động</mat-label>
            <mat-select formControlName="activitiesId">
              <mat-option *ngFor="let activity of data.activities" [value]="activity.id">
                {{ activity.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <!-- <button mat-button mat-dialog-close (click)="close()">Hủy</button> -->
  <button mat-raised-button color="primary" (click)="save()">Lưu</button>
</div>
