<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Công văn đi</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="toolbar">
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Tiêu đề</mat-label>
          <input matInput [(ngModel)]="filterTitle" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nơi nhận</mat-label>
          <mat-select [(ngModel)]="filterDepartment">
            <mat-option *ngFor="let department of departments" [value]="department.id">
              {{ department.departmentName }}
            </mat-option>
          </mat-select>
          <button *ngIf="filterDepartment" mat-icon-button matSuffix aria-label="Clear"
            (click)="filterDepartment=''; $event.stopPropagation();">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Người phụ trách</mat-label>
          <mat-select [(ngModel)]="filterUser">
            <mat-option *ngFor="let user of users" [value]="user.id">
              {{ user.name }}
            </mat-option>
          </mat-select>
          <button *ngIf="filterUser" mat-icon-button matSuffix aria-label="Clear"
            (click)="filterUser=''; $event.stopPropagation()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="applyFilter()">
          <mat-icon>search</mat-icon>Tìm kiếm
        </button>
        <button mat-raised-button color="primary" (click)="openDialog()"><mat-icon>add</mat-icon>Thêm</button>
      </div>


    </div>
    <div class="table-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container> -->

      <ng-container matColumnDef="outgoingDocumentTitle">
        <th mat-header-cell *matHeaderCellDef> Tiêu đề </th>
        <td mat-cell *matCellDef="let element"> {{element.outgoingDocumentTitle}} </td>
      </ng-container>

      <ng-container matColumnDef="outgoingDocumentContent">
        <th mat-header-cell *matHeaderCellDef> Nội dung </th>
        <td mat-cell *matCellDef="let element"> {{element.outgoingDocumentContent}} </td>
      </ng-container>

      <ng-container matColumnDef="sendDate">
        <th mat-header-cell *matHeaderCellDef> Ngày gửi </th>
        <td mat-cell *matCellDef="let element"> {{element.sendDate | date: 'dd-MM-yyyy'}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="departmentId">
        <th mat-header-cell *matHeaderCellDef> Department </th>
        <td mat-cell *matCellDef="let element"> {{element.departmentId}} </td>
      </ng-container> -->

      <ng-container matColumnDef="recipientEmail">
        <th mat-header-cell *matHeaderCellDef> Email người nhận </th>
        <td mat-cell *matCellDef="let element"> {{element.recipientEmail}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef> user </th>
        <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
      </ng-container> -->

      <ng-container matColumnDef="outgoingDocumentProcessingStatuss">
        <th mat-header-cell *matHeaderCellDef> Tình trạng xử lý </th>
        <td mat-cell *matCellDef="let element"> {{element.outgoingDocumentProcessingStatuss}} </td>
      </ng-container>

      <ng-container matColumnDef="dueDate">
        <th mat-header-cell *matHeaderCellDef> Ngày hết hạn </th>
        <td mat-cell *matCellDef="let element"> {{element.dueDate | date: 'dd-MM-yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Hành động </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="openDialog(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <!-- <button mat-icon-button color="warn" (click)="deleteDocument(element.id)">
            <mat-icon>delete</mat-icon>
          </button> -->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
    <mat-paginator [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="totalItems" (page)="onPageChange($event)">
    </mat-paginator>
  </mat-card-content>
</mat-card>