<h1 mat-dialog-title>{{ data.id ? 'Sửa' : 'Thêm' }} giảng viên</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="dialog-form-container">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Họ và tên</mat-label>
        <input matInput formControlName="lecturerName">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Ngày sinh</mat-label>
        <input matInput [matDatepicker]="dayOfBirthpicker" formControlName="dayOfBirth">
        <mat-datepicker-toggle matSuffix [for]="dayOfBirthpicker"></mat-datepicker-toggle>
        <mat-datepicker #dayOfBirthpicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Giới tính</mat-label>
        <input matInput formControlName="lecturerGender">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="lecturerEmail">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Số điện thoại</mat-label>
        <input matInput formControlName="lecturerPhone">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Địa chỉ</mat-label>
        <input matInput formControlName="lecturerAddress">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Chuyên môn</mat-label>
        <input matInput formControlName="expertise">
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Web cá nhân</mat-label>
        <input matInput formControlName="personalWebsiteLink">
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="save()">Lưu</button>
</div>
